<div class="container body-content">
    <h2>Details</h2>

    <p>
        <button type="button" class="btn btn-info" ng-click="returnMovies()">
            Rented Movie(s)
            <span class="badge" ng-bind="numberOfRentedMovies"></span>
        </button>
        
    </p>
    <div class="tabbable" ng-init="tab = 1">
        <ul class="nav nav-tabs">
            <li>
                <a data-toggle="tab" ng-click="tab = 1">
                    <i class="glyphicon glyphicon-zoom-in"></i> &nbsp; Details
                </a>
            </li>
            <li>
                <a data-toggle="tab" ng-click="tab = 2">
                    <i class="glyphicon glyphicon-film"></i> &nbsp; Offered Movie(s)
                </a>
            </li>
            <li>
                <a data-toggle="tab" ng-click="tab = 3">
                    <i class="glyphicon glyphicon-film"></i> &nbsp; Wanted Movie(s)
                </a>
            </li>
            <li>
                <a data-toggle="tab" ng-click="tab = 4">
                    <i class="glyphicon glyphicon-film"></i> &nbsp; Rented Movie(s)
                </a>
            </li>
        </ul>
        <div class="tab-content" ng-show="tab === 1" class="tab-pane active" ng-model="udm.UserDetails">
            <dl class="dl-horizontal">
                <dt>
                        Name
                    </dt>

                <dd>
                    {{udm.UserDetails.Name}}
                </dd>
                <dt>
                        Last Name
                    </dt>
                <dd>
                    {{udm.UserDetails.LastName}}
                </dd>
                <dt>
                        Street
                    </dt>
                <dd>
                    {{udm.UserDetails.Street}}
                </dd>
                <dt>
                        Street Number
                    </dt>
                <dd>
                    {{udm.UserDetails.StreetNumber}}
                </dd>
                <dt>
                        City
                    </dt>
                <dd>
                    {{udm.UserDetails.City}}
                </dd>
                <dt>
                        Mobile
                    </dt>
                <dd>
                    {{udm.UserDetails.Mobile}}
                </dd>
                <dt>
                        Email
                    </dt>
                <dd>
                    {{udm.UserDetails.Email}}
                </dd>
            </dl>
        </div>
        <div class="tab-content" ng-show="tab === 2" class="tab-pane">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            <input class="form-control" id="name" name="name" placeholder="Name" ng-model="udm.OfferedMovies.search.name">
                        </td>
                        <td>
                            <input class="form-control" id="genre" name="genre" placeholder="Genre" ng-model="udm.OfferedMovies.search.Genre">
                        </td>
                        <td>
                            <input class="form-control" id="NumberOfCopies" name="NumberOfCopies" placeholder="Number of copies" ng-model="udm.OfferedMovies.search.NumberOfCopies">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Number Of Copies
                        </th>
                        <th>
                            Genre
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="addMovieToWantedList(movie)" ng-repeat="movie in udm.OfferedMovies | filter : udm.OfferedMovies.search ">
                        <td>{{movie.Name}}</td>
                        <td>{{movie.Genre}}</td>
                        <td>{{movie.NumberOfCopies}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-content" ng-show="tab === 3" class="tab-pane">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Number Of Copies
                        </th>
                        <th>
                            Genre
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in WantedMovies">
                        <td>{{movie.Name}}</td>
                        <td>{{movie.Genre}}</td>
                        <td>{{movie.NumberOfCopies}}</td>
                    </tr>
                    </tbody>
            </table>
            <div style="float:left;">
                <label>When to return movies
                    <input id="whenToReturn" type="number" value="1" min="1" max="10" />
                </label>
            </div>
            <button class="btn btn-sm btn-primary" style="float:right" ng-click="RentMovies(WantedMovies)"> Rent these movies</button>
        </div>
        <div class="tab-content" ng-show="tab === 4" class="tab-pane">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Movie Name
                        </th>
                        <th>
                            Date of Rent
                        </th>
                        <th>
                            Date of Return
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in udm.RentedMovies ">
                        <td>{{movie.UserName}}</td>
                        <td>{{movie.MovieName}}</td>
                        <td>{{movie.DateOfRent | date: format: shortDate}}</td>
                        <td>{{movie.DateOfReturn| date: format: shortDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>